<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="jarek">
 <Properties>
   <Property name="filename">target/rolling1/rollingtest-$${sd:type}.log</Property>
 </Properties>
 <ThresholdFilter level="debug"/>

 <Appenders>
     <Console name="STDOUT">
         <PatternLayout pattern="%d:%m%n"/>
         <ThresholdFilter level="debug"/>
     </Console>
     <Console name="STDOUT_one_line">
         <PatternLayout pattern="%m"/>
         <ThresholdFilter level="debug"/>
     </Console>
     <Rewrite name="rewrite" >
        <AppenderRef ref="STDOUT_one_line" />
         <CountFilter count="5"/>
         <JarekRewritePolicy/>
         <PatternLayout pattern="%m"/>
     </Rewrite>
  </Appenders>

<Loggers>

<Root level="debug">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="rewrite"/>
</Root>
</Loggers>
</Configuration>